body{
    background-color:whitesmoke;
  }
  .navbar{
    background-color: cadetblue;
    margin-bottom : 20px;
  }
  .navbar:hover{
    transform: scaleY(1.20);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
  }