body{
  background-color:whitesmoke;
}
.navbar{
  background-color:cadetblue;
}
.navbar:hover{
  /*transform: scaleY(0.85);*/
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.featurette:hover{
  transform: scale(0.90);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
