body {
  background-color: whitesmoke;
}
.navbar {
  background-image: linear-gradient(45deg, white,rgb(42, 160, 150));
}

.xc {
  margin-top: 30px;
}
#img_1 {
  width: 100%;
  height: 500px;
  margin-top: 8px;
  object-fit:fill;
}
.b_grp{
    font-size: 30px;
    border-color:cadetblue;
    border-radius: 10px;
}
.k_grp{
    margin-bottom: 30px;
}
