<html><head></head><body><p class="print-warning">This material must not be used for commercial purposes, or in any hospital or medical facility. Failure to comply may result in legal action.</p><h1>Breastfeeding and Breast Engorgement</h1><ul class="nav-tabs nav-tabs-collapse nav-tabs-pill">
<li><b class="nav-item here">Care Notes</b></li>
</ul><ul><li><b class="here">Overview</b></li>
<li>Aftercare Instructions</li>
<li>Ambulatory Care</li>
<li>Discharge Care</li>
<li>En Español</li>
</ul><h2>WHAT YOU NEED TO KNOW:</h2><h2>What do I need to know about breast engorgement?</h2><p>Breast engorgement develops when too much milk builds up in your breast. It is normal for your breasts to feel swollen, heavy, and tender when your milk comes in. This is called breast fullness. When your breast starts to feel painful and hard, the fullness has developed into engorgement. Breast engorgement usually happens 3 to 5 days after you give birth. Engorgement can happen if you are not breastfeeding or expressing milk often, or produce a lot of milk. Your baby may have a hard time latching on (attaching) to your breast to feed. Without treatment, engorgement can lead to plugged milk ducts or a breast infection called mastitis.</p><h2>What are the signs and symptoms of breast engorgement?</h2><ul>
<li>A swollen, tender breast</li>
<li>A breast that feels hard to the touch or looks tight or shiny</li>
<li>Warm, red, or throbbing breast</li>
<li>Flat nipple</li>
<li>A low fever</li>
</ul><h2>What can I do to manage my symptoms?</h2><ul>
<li><b>Breastfeed or pump every 2 or 3 hours.</b> Frequent breastfeeding helps decrease engorgement discomfort. Express or pump milk from your breasts before you breastfeed. This will help soften your breast and your nipple, and allow your baby to latch on better.</li>
<li><b>Massage your breast.</b> Breast massage helps empty your engorged breast and decrease pain. Gently massage your breast before and during breastfeeding to help increase your milk flow. Gently stroke your breast, starting from the outer areas and working your way toward the nipple. Breast massage may also help prevent breast engorgement if done in the first few days after you give birth.</li>
<li><b>Apply a cool compress in between feedings.</b> The cold may help decrease swelling and pain in your engorged breast. Wet a washcloth in cold water, wring it out, and place it on your breast. Ask how long and how often to use a cool compress.</li>
<li><b>Wear a supportive bra.</b> The bra should fit well but not be too tight.</li>
</ul><h2>What can I do to prevent breast engorgement?</h2><ul>
<li><b>Help your baby get a good latch.</b> Hold the nape of his or her neck to help him or her latch onto your breast. Touch his or her top lip with your nipple and wait for him or her to open his or her mouth wide. Your baby's lower lip and chin should touch the areola (dark area around the nipple) first. Help him or her get as much of the areola in his or her mouth as possible. You should feel as if your baby will not separate from your breast easily. Gently break suction and reposition if your baby is only sucking on the nipple. Talk to a lactation consultant if you need help with your baby's latch.
<table style="text-align: center; ">
<tbody><tr>
<td><br/></td>
</tr>
</tbody></table>
</li>
<li><b>Empty your breasts completely.</b> Take your time when you breastfeed to allow your baby to empty your breast. Try not to switch breasts too early. Express or pump after you breastfeed if your baby is not emptying your breasts when he or she feeds.</li>
<li><b>Apply warmth to your breast before you breastfeed.</b> Put a warm, wet cloth on your breast or take a warm shower. This can help increase your milk flow.</li>
</ul><h2>When should I seek immediate care?</h2><ul>
<li>You have a fever with chills or body aches.</li>
<li>You have pain and swelling in one or both breasts that keeps you from breastfeeding.</li>
</ul><h2>When should I contact my healthcare provider?</h2><ul>
<li>You have a tender breast lump that grows slowly and usually forms on one side of your breast.</li>
<li>You have a small, white bump on your nipple.</li>
<li>Your symptoms do not get better within 24 hours.</li>
<li>You have questions or concerns about your condition or care.</li>
</ul><h2>Further information</h2><ul>
<li>American Academy of Pediatrics<br/>
345 Park Boulevard<br/>
Itasca , IL 60143<br/>
Phone: 1- 800 - 433-9016<br/>
Web Address: http://www.aap.org<br/></li>
</ul><ul>
<li>La Leche League International<br/>
957 North Plum Grove Road<br/>
Schaumburg , IL 60173<br/>
Phone: 1- 847 - 519-7730<br/>
Phone: 1- 800 - 525-3243<br/>
Web Address: http://www.lalecheleague.org<br/></li>
</ul><h3>Care Agreement</h3><p>© Copyright IBM Corporation 2021 Information is for End User's use only and may not be sold, redistributed or otherwise used for commercial purposes. All illustrations and images included in CareNotes® are the copyrighted property of A.D.A.M., Inc. or IBM Watson Health</p><p class="ddc-disclaimer">Always consult your healthcare provider to ensure the information displayed on this page applies to your personal circumstances.</p><p class="ddc-disclaimer-link">Medical Disclaimer</p></body></html>