<html><head></head><body><p class="print-warning">This material must not be used for commercial purposes, or in any hospital or medical facility. Failure to comply may result in legal action.</p><h1>Hypothyroidism in Pregnancy</h1><ul class="nav-tabs nav-tabs-collapse nav-tabs-pill">
<li><b class="nav-item here">Care Notes</b></li>
</ul><ul><li><b class="here">Overview</b></li>
<li>Aftercare Instructions</li>
<li>Ambulatory Care</li>
<li>Discharge Care</li>
<li>Inpatient Care</li>
<li>En Español</li>
</ul><h2>WHAT YOU NEED TO KNOW:</h2><h2>What is hypothyroidism?</h2><p>Hypothyroidism is a condition that develops when the thyroid gland makes little or no thyroid hormone. Thyroid hormones help control body temperature, heart rate, growth, and how you gain or lose weight.</p><h2>What increases my risk for hypothyroidism?</h2><ul>
<li>Autoimmune disease, such as Hashimoto's disease, or type 1 diabetes</li>
<li>Medicines</li>
<li>Radiation therapy or thyroid surgery</li>
<li>History of hypothyroidism, thyroid cancer, or an enlarged thyroid</li>
<li>Family history of hypothyroidism or an autoimmune disease</li>
<li>Low iodine level</li>
</ul><h2>What are the signs and symptoms of hypothyroidism during pregnancy?</h2><ul>
<li>Exhaustion, depression, or irritability</li>
<li>Sensitivity to cold</li>
<li>Constipation</li>
<li>Dry, flaky skin, brittle nails, or thinning hair</li>
<li>Muscle pain or weakness</li>
<li>Swollen thyroid gland</li>
</ul><h2>How is hypothyroidism diagnosed?</h2><p>Your healthcare provider will ask about your symptoms and examine you. He or she will ask what medicines you take. Tell him or her about your medical history and if anyone in your family has hypothyroidism. You will have blood tests to check your thyroid hormone level.</p><h2>How is hypothyroidism treated?</h2><p>Thyroid medicine will bring your thyroid hormone level back to normal. The dose may be adjusted during your pregnancy. Your thyroid hormone level will be checked regularly to make sure you get the right dose. You may also need iodine supplements or eat foods higher in iodine. Ask your healthcare provider for more information on other medicines you may need.</p><h2>How can I manage hypothyroidism?</h2><ul>
<li><b>Get more iodine.</b> The thyroid gland uses iodine to work correctly and to make thyroid hormones. Your healthcare provider may tell you to eat foods that are rich in iodine. He or she will tell you how much of these foods to eat. Milk and seafood are good sources of iodine. You may also need iodine supplements.</li>
<li><b>Keep track of your baby's movements.</b> Keep track of how much your baby moves every day. Wait 1 hour after you eat. Write down every movement that you feel from your baby.</li>
<li><b>Keep track of your blood pressure and weight:</b><ul>
<li><b>Check your blood pressure</b> and write it down as often as directed. It is important to measure your blood pressure on the same arm and in the same position each time. Keep track of your blood pressure readings, along with the date and time you took them. Take this record with you to your prenatal visits.
<table style="text-align: center; ">
<tbody><tr>
<td><br/></td>
</tr>
</tbody></table>
</li>
<li><b>Weigh yourself daily</b> before breakfast after you urinate. More weight gain than recommended during your pregnancy may be a sign of extra fluid in your body. Keep track of your daily weights and take the record with you to your prenatal visits.
<table style="text-align: center; ">
<tbody><tr>
<td><br/></td>
</tr>
</tbody></table>
</li>
</ul>
</li>
</ul><ul>
<li><b>Check your blood pressure</b> and write it down as often as directed. It is important to measure your blood pressure on the same arm and in the same position each time. Keep track of your blood pressure readings, along with the date and time you took them. Take this record with you to your prenatal visits.
<table style="text-align: center; ">
<tbody><tr>
<td><br/></td>
</tr>
</tbody></table>
</li>
<li><b>Weigh yourself daily</b> before breakfast after you urinate. More weight gain than recommended during your pregnancy may be a sign of extra fluid in your body. Keep track of your daily weights and take the record with you to your prenatal visits.
<table style="text-align: center; ">
<tbody><tr>
<td><br/></td>
</tr>
</tbody></table>
</li>
</ul><h2>Call your local emergency number (911 in the US) or have someone call if:</h2><ul>
<li>You faint or have a seizure.</li>
<li>You have sudden chest pains or trouble breathing, or swelling in your legs, ankles, or feet.</li>
</ul><h2>When should I seek immediate care?</h2><ul>
<li>Your water breaks, or you are bleeding from your vagina.</li>
<li>You have diarrhea, tremors, or trouble sleeping.</li>
</ul><h2>When should I call my doctor?</h2><ul>
<li>You feel your baby is restless and always kicking, or is very still and not moving at all.</li>
<li>You are losing weight without trying.</li>
<li>Your signs and symptoms return or become worse.</li>
<li>You are out of thyroid medicine.</li>
<li>You have questions or concerns about your condition or care.</li>
</ul><h3>Care Agreement</h3><p>© Copyright IBM Corporation 2021 Information is for End User's use only and may not be sold, redistributed or otherwise used for commercial purposes. All illustrations and images included in CareNotes® are the copyrighted property of A.D.A.M., Inc. or IBM Watson Health</p><h2>Learn more about Hypothyroidism in Pregnancy</h2><ul><li>Thyroid Disease</li><li>Underactive Thyroid</li></ul><ul><li>Hyperthyroidism in Pregnancy</li></ul><ul><li>Hypothyroidism</li><li>Thyroid Disease</li></ul><h2>Further information</h2><p class="ddc-disclaimer">Always consult your healthcare provider to ensure the information displayed on this page applies to your personal circumstances.</p><p class="ddc-disclaimer-link">Medical Disclaimer</p></body></html>