<html><head></head><body><p class="print-warning">This material must not be used for commercial purposes, or in any hospital or medical facility. Failure to comply may result in legal action.</p><h1>Pregnancy Induced Hypertension</h1><ul class="nav-tabs nav-tabs-collapse nav-tabs-pill">
<li><b class="nav-item here">Care Notes</b></li>
</ul><ul><li><b class="here">Overview</b></li>
</ul><p><b>What is it?</b></p><ul>
<li>Pregnancy induced hypertension (hi-per-ten-shun) is a high blood pressure problem caused by pregnancy. It is also called "PIH." Hypertension is another name for high blood pressure. You may have PIH if your blood pressure was normal but began to rise after the 20th week of pregnancy. PIH means more than just having high blood pressure. Many of the organs in your body may be involved with PIH. About 5 to 7 per cent of all women get PIH during pregnancy.</li>
<li>You may be at a higher risk to get PIH if this is your first pregnancy or if you are pregnant with 2 or more babies. Being less than 20 years old or older than 35 years may put you at higher risk for having PIH. Or you may be more likely to have PIH if you have a mother or sister who has had PIH. PIH can be a very serious problem to you and your baby if it is not treated. PIH usually goes away after delivery.</li>
<li>There are 2 levels of PIH.<ul>
<li>High blood pressure and protein in the urine and/or swelling of your face, hands, or feet. This may also be called <b>pre-eclampsia</b> (e-klam-c-uh). You may have mild or very severe pre-eclampsia.</li>
<li>High blood pressure, protein in the urine, swelling, and convulsions (seizures). This may also be called <b>eclampsia</b>.</li>
</ul></li><li><b>What is blood pressure?</b> Blood pressure ("BP") is the force or pressure that carries blood to all parts of the body. A blood pressure reading measures the pressure that blood puts on the walls of arteries.<ul>
<li>There are 2 parts to a blood pressure. One is called systolic (sis-tall-ik) and is the top or the first number in a blood pressure reading. The other number is called the diastolic (di-uh-stall-ik) and is the bottom or second number in the reading. Here is an example: 120/80, 120 is the systolic number and 80 is the diastolic number. You may also hear someone say a blood pressure is "120 over 80."</li>
<li>The systolic (top) number is the peak blood pressure when the heart is beating or squeezing out blood.</li>
<li>The diastolic (bottom) number is the pressure when your heart is filling with blood or resting between beats.</li>
<li>A good systolic number is between 120 and 140 millimeters of mercury (mm Hg). For some people, a number between 90 and 100 is normal. A good diastolic number is usually lower than 85 mm Hg.</li>
</ul>
</li></ul><ul>
<li>High blood pressure and protein in the urine and/or swelling of your face, hands, or feet. This may also be called <b>pre-eclampsia</b> (e-klam-c-uh). You may have mild or very severe pre-eclampsia.</li>
<li>High blood pressure, protein in the urine, swelling, and convulsions (seizures). This may also be called <b>eclampsia</b>.</li>
</ul><ul>
<li>There are 2 parts to a blood pressure. One is called systolic (sis-tall-ik) and is the top or the first number in a blood pressure reading. The other number is called the diastolic (di-uh-stall-ik) and is the bottom or second number in the reading. Here is an example: 120/80, 120 is the systolic number and 80 is the diastolic number. You may also hear someone say a blood pressure is "120 over 80."</li>
<li>The systolic (top) number is the peak blood pressure when the heart is beating or squeezing out blood.</li>
<li>The diastolic (bottom) number is the pressure when your heart is filling with blood or resting between beats.</li>
<li>A good systolic number is between 120 and 140 millimeters of mercury (mm Hg). For some people, a number between 90 and 100 is normal. A good diastolic number is usually lower than 85 mm Hg.</li>
</ul><p><b>What is high blood pressure in pregnancy?</b></p><ul>
<li>High blood pressure is when your blood moves through your arteries at a higher pressure than normal. Your heart and arteries may become damaged by high blood pressure. You may be at a higher risk of having a stroke, heart attack, kidney problems, or heart disease with high blood pressure. High blood pressure does not go away without treatment.</li>
<li>High blood pressure in pregnancy is a top number higher than 140 mm Hg. Or the top number may be 30 mm Hg higher from the last time your blood pressure was taken. High blood pressure in pregnancy may also be when the bottom number is higher than 90 mm Hg. Or the bottom number may be 15 mm Hg higher from the last time your blood pressure was taken. There are other ways for caregivers to decide if you have high blood pressure of pregnancy.</li>
</ul><p><b>What causes PIH?</b> It is not known what causes PIH. But it is known that PIH causes blood vessels to tighten which blocks blood flow. The following are possible causes of PIH.</p><ul>
<li><b>Diet.</b> You may not be getting enough zinc, calcium, protein, or total calories in the food you are eating.</li>
<li><b>Genetic (juh-neh-tik).</b> PIH may have been passed to you from your mother. It is common for daughters and mothers to both have had PIH during their pregnancies.</li>
<li><b>Immune system.</b> The immune system is the part of your body that fights infection. Your pregnancy may be causing your immune system not to work correctly.</li>
<li><b>Placenta (pluh-sen-tuh) problems.</b> The placenta is also called "afterbirth." It is the tissue (like skin) that joins you to your baby. Its job is to bring food to your baby and take away waste. With PIH your placenta may not be working correctly.</li>
</ul><p><b>Signs and Symptoms:</b> PIH can be found early during your prenatal visits. The following are signs and symptoms of PIH.</p><ul>
<li>Being 20 or more weeks pregnant with a blood pressure that is 140/90 or higher.</li>
<li>Blurry vision (cannot see clearly).</li>
<li>Breathing problems.</li>
<li>Decrease in how much urine you are passing.</li>
<li>Feeling very sluggish.</li>
<li>Gaining 3 to 5 pounds (1.4 kg to 2.3 kg) in 1 week (7 days).</li>
<li>Having very bad pain over your stomach (belly) or under your ribs.</li>
<li>Seeing spots in your eyes or having light flashes before your eyes.</li>
<li><b>Sudden</b> swelling of your face, hands, or feet.</li>
<li>Swelling of your ankles or feet that does not go away after resting for 12 hours.</li>
<li>Swelling of your face, hands, or feet.</li>
<li>Very bad headaches.</li>
<li>Vomiting (throwing up).</li>
</ul><p><b>Care:</b> You may have any of the following tests or treatments. You may need to go into the hospital so that you and your baby can be more closely watched. It is possible that you may need to deliver your baby early if your blood pressure cannot be controlled. This is especially important if you or your baby is in danger because of your blood pressure.</p><ul>
<li>Bed rest.</li>
<li>Blood tests.</li>
<li>Checking your baby's heart rate.</li>
<li>Checking your reflexes.</li>
<li>Checking your temperature, blood pressure, heart rate, and breathing every 4 hours.</li>
<li>Checking your weight every day.</li>
<li>Having your eyes checked.</li>
<li>Medicines.</li>
<li>Putting a Foley catheter into your bladder to measure how much urine you make every hour.</li>
<li>Ultrasound test to check your baby's growth and to see how much fluid is around the baby.</li>
<li>Urine tests.</li>
</ul><h3>Care Agreement</h3><p>You have the right to help plan your care. To help with this plan, you must learn about pregnancy induced hypertension. You can then discuss your treatment options with caregivers. Work with them to decide what care will be used to treat you. You always have the right to refuse treatment.</p><h2>Further information</h2><p class="ddc-disclaimer">Always consult your healthcare provider to ensure the information displayed on this page applies to your personal circumstances.</p><p class="ddc-disclaimer-link">Medical Disclaimer</p></body></html>