 <p class="print-warning">This material must not be used for commercial purposes, or in any hospital or medical facility. Failure to comply may result in legal action.</p><h1>Wound Infection</h1><ul class="nav-tabs nav-tabs-collapse nav-tabs-pill">
<li>Health Guide</li>
<li>Disease Reference</li>
<li><b class="nav-item here">Care Notes</b></li>
<li>Medication List</li>
</ul><ul><li><b class="here">Overview</b></li>
<li>Aftercare Instructions</li>
<li>Ambulatory Care</li>
<li>Discharge Care</li>
<li>Inpatient Care</li>
<li>En Español</li>
</ul><h2>WHAT YOU NEED TO KNOW:</h2><h2>What is a wound infection?</h2><p>A wound infection occurs when bacteria enters a break in the skin. The infection may involve just the skin, or affect deeper tissues or organs close to the wound.</p><h2>What increases my risk for a wound infection?</h2><p>Anything that decreases your body's ability to heal wounds may put you at risk for a wound infection. This includes any of the following:</p><ul>
<li>Age older than 65</li>
<li>Smoking or being overweight</li>
<li>Medical conditions that weaken the immune system such as diabetes, HIV, or cancer</li>
<li>Medicines that cause a weak immune system such as steroids</li>
<li>Radiation, chemotherapy, or poor nutrition</li>
<li>Foreign objects in the wound such as glass or metal</li>
<li>Decreased blood flow to the wound caused by high blood pressure, or blocked or narrowed blood vessels</li>
</ul><h2>What are the signs and symptoms of a wound infection?</h2><p>Your symptoms may start a few days after you get the wound, or may not occur for a month or two after the wound happens:</p><ul>
<li>Fever</li>
<li>Warm, red, painful, or swollen skin near the wound</li>
<li>Blood or pus coming from the wound</li>
<li>A foul odor coming from the wound</li>
</ul><h2>How is a wound infection diagnosed?</h2><p>Your healthcare provider will ask about your medical history and examine you. He will ask how and when you were wounded. You may have any of the following tests:</p><ul>
<li><b>Blood tests</b> may be done to check for infection.</li>
<li><b>X-ray or CT</b> may be done to look for infection in deep tissues or a foreign object in your wound. You may be given contrast liquid to help the pictures show up better. Tell the healthcare provider if you have ever had an allergic reaction to contrast liquid.</li>
<li><b>A wound culture</b> is a sample of fluid or tissue that taken from the wound. It is sent to a lab and tested for the germ that is causing the infection.</li>
</ul><h2>How is a wound infection treated?</h2><p>Treatment will depend on how severe the wound is, its location, and whether other areas are affected. It may also depend on your health and the length of time you have had the wound. Ask your healthcare provider about these and other treatments you may need:</p><ul>
<li><b>Medicine</b> will be given to treat the infection and decrease pain and swelling.</li>
<li><b>Wound care</b> may be done to clean your wound and help it heal. A wound vacuum may also be placed over your wound to help it heal.</li>
<li><b>Hyperbaric oxygen therapy</b> (HBO) may be used to get more oxygen to your tissues to help them heal. The pressurized oxygen is given as you sit in a pressure chamber.</li>
<li><b>Surgery</b> may be needed to clean the wound or remove infected or dead tissue. Surgery may also be needed to remove a foreign object.</li>
</ul><h2>How can I help my wound heal?</h2><ul>
<li><b>Care for your wound as directed.</b> Keep your wound clean and dry. You may need to cover your wound when you bathe so it does not get wet. Clean your wound as directed with soap and water or wound cleaner. Put on new, clean bandages as directed. Change your bandages when they get wet or dirty.</li>
<li><b>Eat a variety of healthy foods.</b> Examples include fruits, vegetables, whole-grain breads, low-fat dairy products, beans, lean meats, and fish. Healthy foods may help you heal faster. You may also need to take vitamins and minerals. Ask if you need to be on a special diet.</li>
<li><b>Manage other health conditions.</b> Follow your healthcare provider's directions to manage health conditions that can cause slow wound healing. Examples include high blood pressure and diabetes.</li>
<li><b>Do not smoke.</b> Nicotine and other chemicals in cigarettes and cigars can cause slow wound healing. Ask your healthcare provider for information if you currently smoke and need help to quit. E-cigarettes or smokeless tobacco still contain nicotine. Talk to your healthcare provider before you use these products.</li>
</ul><h2>When should I seek immediate care?</h2><ul>
<li>You feel short of breath.</li>
<li>Your heart is beating faster than usual.</li>
<li>You feel confused.</li>
<li>Blood soaks through your bandages.</li>
<li>Your wound comes apart or feels like it is ripping.</li>
<li>You have severe pain.</li>
<li>You see red streaks coming from the infected area.</li>
</ul><h2>When should I contact my healthcare provider?</h2><ul>
<li>You have a fever or chills.</li>
<li>You have more pain, redness, or swelling near your wound.</li>
<li>Your symptoms do not improve.</li>
<li>The skin around your wound feels numb.</li>
<li>You have questions or concerns about your condition or care.</li>
</ul><h3>Care Agreement</h3><p>© Copyright IBM Corporation 2021 Information is for End User's use only and may not be sold, redistributed or otherwise used for commercial purposes. All illustrations and images included in CareNotes® are the copyrighted property of A.D.A.M., Inc. or IBM Watson Health</p><h2>Learn more about Wound Infection</h2><ul><li>Infection</li><li>Wound Infection</li></ul><h2>Further information</h2><p class="ddc-disclaimer">Always consult your healthcare provider to ensure the information displayed on this page applies to your personal circumstances.</p><p class="ddc-disclaimer-link">Medical Disclaimer</p>