body{
    background-color:whitesmokesmoke;
  }
  .navbar{
     background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    margin-bottom : 20px;
  }
  
main{
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-gap: 20px;
    padding-top: 10px;
    
}



.div1{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div1:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div2{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));

    padding-right: 10px;
    
    
}
.div2:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div3{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div3:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div4{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div4:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div5{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div5:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div6{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div6:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div7{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div7:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div8{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div8:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div9{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div9:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div10{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div10:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div11{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div11:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div12{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div12:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div13{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div13:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div14{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div14:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div15{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div15:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div16{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div16:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div17{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div17:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div18{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div18:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div19{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div19:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div20{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div20:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div21{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div21:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div22{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div22:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div23{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div23:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div24{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div24:hover{

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div25{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div25:hover{

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div26{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div26:hover{

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div27{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div27:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div28{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div28:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div29{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div29:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div30{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div30:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div31{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div31:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div32{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div32:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div33{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div33:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div34{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div34:hover{

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div35{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div35:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div36{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div36:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div37{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div37:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div38{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div38:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div39{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div39:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div40{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div40:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div41{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div41:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.div42{
    background-image: linear-gradient(45deg, whitesmoke,rgb(42, 160, 150));
    padding-right: 10px;
}
.div42:hover{
    
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
