body{
    background-color:whitesmoke;
  }
  .navbar{
    background-color: cadetblue;
    margin-bottom : 20px;
  }
  .navbar:hover{
    transform: scaleY(1.20);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
  }

.card{
    margin-top: 50px;
    background-color:cadetblue
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.vertical-center{
    margin: 0;
  position: relative;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.carousel-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

